/* veriabal */
$text-montserrat: 'Montserrat';
$remixico : 'remixicon';

$primary: #f41a4a;
$black: #111a24;
$white: #fff;
$text-color: #495461;
$text-777: #777;
$text-555: #555;
$text-999: #999;
$border-eee: #eae8ef;
$bg-sec: #f7faff;
$bg-box: #f7faff;
$black-0: #1b1c20;
$black-off: #111a24;
$bg-lightness : #f7f5fb;
$border-lightness: #e9e6ef;
$about-color-one: #faf1c6;
$about-color-two: #ffd5df;
$about-color-three: #d5f5ff;
$red: #ff0000;
$yellow: #f27d0c;
$bg-services-one: rgb(237, 244, 179);
$bg-services-two: rgb(255, 213, 223);
$bg-services-three: rgb(213, 245, 255);
$bg-services-four: rgb(214, 255, 213);
$bg-services-five: rgb(225 226 255);
$bg-services-six: rgb(198 251 244);
$bg-services-seven: rgb(255 229 213);
$bg-services-eight: rgb(253 228 255);
$border-gray: rgb(75, 89, 102);
$black-08: rgba(0, 0, 0, 0.8);
$black-05: rgba(0, 0, 0, 0.5);
$black-06: rgba(0, 0, 0, 0.6);
$sub-menu-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.09);
$header_shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);

$radius-5: 5px;
$radius-10: 10px;
$radius-20: 20px;
$radius-30: 30px;

$color-1: #8118d5;
$color-2: #5f6af5;
$color-3: #f5885f;
$color-4: #32dbe2;
$color-5: #3f51b5;
$color-6: #f44336;
$color-7: #e91e63;
$color-8: #607d8b;
$color-9: #03492f;




  